body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.form-group {
  position: relative;
  margin: 1rem;
  width: 300px;
  display: flex;
  align-items: center;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #9f9f9f;
  border-radius: 0.5rem;
  outline: none;
  background: white;
  color: #333;
  transition: all 0.2s ease;
}

.form-label {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  color: #ccc;
  font-size: 1rem;
  transition: all 0.2s ease;
  pointer-events: none;
  padding: 0 4px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: -0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
  background-color: #fff;
  color: #333;
  transition: all 0.2s ease;
}
